.thumb-preview{
    height: 150px;
    width: 200px;
    border-radius: 5px;
}
.box-infos{
//border: 1px solid #5D8CAE;
    border-top: 0;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 20px;
//min-height: 200px;
}
input[type=file].hidden-input-file{
    display: none;
}
.thumb-reset{
    display: none;
    width: 190px;
    position: relative;
    height: 30px;
    line-height: 24px;
    top:-35px;
}